.benefit__company {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: -5px;
  box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.18);
  max-width: 700px;
  max-height: 500px;
  overflow-y: auto;
  @include breakpoint(mdDown) {
    position: fixed !important;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: unset;
    max-height: unset;
    padding-top: 60px;
    padding-left: 30px;
  }
  &__item {
    &:hover {
      background-color: $color-grey-light;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 0.2em;
  }
  &__name {
    font-size: 14px;
  }
}
